<launch>
 
	<arg name="fcu_url" default="serial:///dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="udp://@" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
   	

	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />

		<!-- enable heartbeat send and reduce timeout -->
		<param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="5.0" />
		<param name="startup_px4_usb_quirk" value="true" />

	</node>

	<node name="mavros_test" pkg="mavros_test" type="mavros_test" output="screen">
	
	
	</node>
	

</launch>
